/* Input field css design */
.input-text {
  border-radius: 30px;
  border: none;
  background: whitesmoke;
  font-size: 30px;
  outline: none;
  padding: 5px 15px;
}

.input-text::placeholder {
  transition: 500ms;
}

.input-text:focus::placeholder {
  transform: scale(0, 0);
  color: transparent;
}

/* Custom Background Color */
.bg-theme-primary {
  background: #fcf79f;
}

/* Custom Foreground Color */
.text-primary {
  color: #82bf65;
}

.transform-y-100p {
  transform: translateY(-100%);
}

.custom-form-shadow {
  box-shadow: #b4d47b 20px 20px 10px 0px;
}

.custom-attendance-icon {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
